<%- include('departments/partials/header');-%>

  <div style="padding-top:60px;text-align:center;">

  	<h6 style="background-color:green;color:white;text-align:center;padding:10px;display:inline-block;">File Uploaded Successfully !!!</h6>
  	<br>
  	<a href="/">Go Back</a>
  </div>

<%- include('departments/partials/footer');-%>
