<%- include('partials/header');-%>

<div style="padding-top:60px;">
  <div class="shadow p-3 mb-5  rounded color" style="text-align: center;">
    <h4>Civil</h4>
  </div>
</div>
<br>
<div>
  <div class="card-deck">
    <a href="/CIV/I">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/civSem1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-I</h4>
          <p class="card-text"><a href="/CIV/I"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/CIV/II">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/civSem2.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-II</h4>
          <p class="card-text"><a href="/CIV/II"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/CIV/III">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/civSem3.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-I</h4>
          <p class="card-text"><a href="/CIV/III"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>
  </div>
  <br>

  <div class="card-deck">
    <a href="/CIV/IV">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/civSem4.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-II</h4>
          <p class="card-text"><a href="/CIV/IV"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/CIV/V">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/civSem5.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">3rd Year sem-I</h4>
          <p class="card-text"><a href="/CIV/V"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/CIV/VI">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/civSem6.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">3rd Year sem-II</h4>
          <p class="card-text"><a href="/CIV/VI"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>
  </div>
  <br>
</div>

<%- include('partials/footer');-%>