<%- include('partials/header');-%>

	<div style="padding-top:60px;">
	<div class="shadow p-3 mb-5  rounded color" style="text-align: center;">
    <h4>Computer Science</h4>
  </div>
</div>
<br>
<div>
  <div class="card-deck">
    <a href="/CSE/I">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/cseSem1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-I</h4>
          <p class="card-text"><a href="/cse/sem1"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>


    <a href="/CSE/II">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/cseSem2.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-II</h4>
          <p class="card-text"><a href="/cse/sem2"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>


    <a href="/CSE/III">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/cseSem3.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-I</h4>
          <p class="card-text"><a href="/cse/sem3"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>
  </div>
  <br>

  <div class="card-deck">
    <a href="/CSE/IV">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/cseSem4.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-II</h4>
          <p class="card-text"><a href="cse/sem4"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>



    <a href="/CSE/V">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/cseSem5.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">3rd Year sem-I</h4>
          <p class="card-text"><a href="/cse/sem5"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>


    <a href="/CSE/VI">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/cseSem6.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">3rd Year sem-II</h4>
          <p class="card-text"><a href="/cse/sem6"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>
  </div>
  </div>
  <br>

<%- include('partials/footer');-%>
