<%- include('partials/header');-%>


<div style="padding-top:60px;">
  <div class="shadow p-3 mb-5  rounded color" style="text-align: center;">
    <h4>Electronics & Communications</h4>
  </div>
</div>
<br>
<div >
  <div class="card-deck">
    <a href="/ECE/I">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eceSem1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-I</h4>
          <p class="card-text"><a href="/ECE/I"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>


    <a href="/ECE/II">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/ecseSem2.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-II</h4>
          <p class="card-text"><a href="/ECE/II"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/ECE/III">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eceSem3.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-I</h4>
          <p class="card-text"><a href="/ECE/III"><b>Click here to view notes</b></a></p>
        </div>
      </div>
  </div>
  <a>
    <br>

    <div class="card-deck">
      <a href="/ECE/IV">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img src="images/eceSem4.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">2nd Year sem-II</h4>
            <p class="card-text"><a href="/ECE/IV"><b>Click here to view notes</b></a></p>
          </div>
        </div>
      </a>

      <a href="/ECE/V">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img src="images/eceSem5.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">3rd Year sem-I</h4>
            <p class="card-text"><a href="/ECE/V"><b>Click here to view notes</b></a></p>
          </div>
        </div>
      </a>

      <a href="/ECE/VI">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img src="images/eceSem6.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">3rd Year sem-II</h4>
            <p class="card-text"><a href="/ECE/VI"><b>Click here to view notes</b></a></p>
          </div>
        </div>
      </a>
    </div>
    <br>
</div>

<%- include('partials/footer');-%>
