<%- include('partials/header');-%>

<div style="padding-top:60px;">
  <div class="shadow p-3 mb-5  rounded color" style="text-align: center;">
    <h4>Electrical</h4>
  </div>
</div>
<br>
<div >
  <div class="card-deck">
    <a href="/EEE/I">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eeeSem1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-I</h4>
          <p class="card-text"><a href="/EEE/I"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/EEE/II">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eeeSem2.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">1st Year sem-II</h4>
          <p class="card-text"><a href="/EEE/II"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/EEE/III">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eeeSem3.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-I</h4>
          <p class="card-text"><a href="/EEE/III"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>
  </div>
  <br>

  <div class="card-deck">
    <a href="/EEE/IV">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eeeSem4.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">2nd Year sem-II</h4>
          <p class="card-text"><a href="/EEE/IV"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/EEE/V">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eeeSem5.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">3rd Year sem-I</h4>
          <p class="card-text"><a href="/EEE/V"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>

    <a href="/EEE/VI">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <img src="images/eeeSem6.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">3rd Year sem-II</h4>
          <p class="card-text"><a href="/EEE/VI"><b>Click here to view notes</b></a></p>
        </div>
      </div>
    </a>
  </div>
  <br>
</div>

<%- include('partials/footer');-%>