<%- include('partials/header');-%>


<div style="padding-top:60px;">
  <div class="shadow p-3 mb-5  rounded color" style="text-align: center;">
    <h4>Mechanical</h4>
  </div>
</div>
<br>
<div >
  <div class="card-deck">
  <a href="/MECH/I">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img src="images/mechSem1.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">1st Year sem-I</h4>
        <p class="card-text"><a href="/MECH/I"><b>Click here to view notes</b></a></p>
      </div>
    </div>
  </a>

  <a href="/MECH/II">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img src="images/mechSem2.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">1st Year sem-II</h4>
        <p class="card-text"><a href="/MECH/II"><b>Click here to view notes</b></a></p>
      </div>
    </div>
  </a>

  <a href="/MECH/III">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img src="images/mechSem3.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">2nd Year sem-I</h4>
        <p class="card-text"><a href="/MECH/III"><b>Click here to view notes</b></a></p>
      </div>
    </div>
  </a>
</div>
<br>

<div class="card-deck">
  <a href="/MECH/IV">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img src="images/mechSem4.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">2nd Year sem-II</h4>
        <p class="card-text"><a href="MECH/IV"><b>Click here to view notes</b></a></p>
      </div>
    </div>
  </a>

  <a href="/MECH/V">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img src="images/mechSem5.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">3rd Year sem-I</h4>
        <p class="card-text"><a href="/MECH/V"><b>Click here to view notes</b></a></p>
      </div>
    </div>
  </a>

  <a href="/MECH/VI">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img src="images/mechSem6.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">3rd Year sem-II</h4>
        <p class="card-text"><a href="/MECH/VI"><b>Click here to view notes</b></a></p>
      </div>
    </div>
  </a>
</div>
<br>
</div>

<%- include('partials/footer');-%>
